<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://toptricks.net" class ="navbar-brand">Toptricks.net</a></div>
        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedautentication.isUserLoggedin()" routerLink="/welcome/toptricks.net" class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedautentication.isUserLoggedin()" routerLink="/list-todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedautentication.isUserLoggedin()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedautentication.isUserLoggedin()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>
